@use "../../styles/partials/variables" as *;

.projects {
  background-color: $background-colour;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project {
  background-color: $primary-colour;
  border-radius: 8px;
  padding: 0 16px 16px 16px;
  margin-bottom: 16px;
  width: 50%;

  &__button-section {
    display: flex;
    align-items: center;
  }

  &__button {
    height: 2rem;
    margin: 8px;
  }

  &__github-photo {
    height: 20px;
    width: 20px;
  }
}

a {
  text-decoration: none;
  color: black;
}
